<html>
	<head>
		<title>Controller Score System</title>
	</head>

	<!-- script -->
	<script src="../js/jquery-3.1.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
	<script src="../js/bootstrap.min.js"></script>

    <style>
        .greyedOut
        {
            background:red;
        }
    </style>

	<script>
	var socket = io();
	var count = 0;

	$(document).ready(function(){

		// setup System
		socket.on('setupScore', function(data){
			if(count > 0) return false;
			
			for(var i = 0; i<data.length; i++)
			{
				$('#team').append('<option value="' + (i+1) + '">' + (i+1) + '</option>');
			}
			count++;
		});

		//Populate question
		socket.on('populateQuestions', function(questions){
			for(var i = 0; i<questions.length; i++)
			{
				$('#bodyQuestion').append("<tr><td>" + questions[1] + "</td><td>" + questions[2] + "</td></tr>");
			}
		});

        // Greyout already showed question
        socket.on('greyOut', function(questionsArray){
            for(var i = 0; i<questionsArray.length; i++)
            {
                if(questionsArray[i] == 1)
                {
                    $("#"+i).addClass("greyedOut");
                }
            }
        });

		// Splash Screen
		$('#splashScreen').click(function()
		{
			socket.emit('splashScreen');
		});

		// Score Screen
		$('#scoreOverview').click(function()
		{
			socket.emit('scoreScreen');
		});

		// Display Question
		$('.questionShow').click(function()
		{
			socket.emit('displayQuestion', parseInt($(this).val()));
		});

		//On score changing
		$('#changeScoreCorrect').click(function()
		{
			var data = [$('#team').val(), 30]
			// socket.emit('scoreSet', data);
			socket.emit('teamCorrect', data);
		});

		$('#changeScoreIncorrect').click(function()
		{
			var data = [$('#team').val(), -10]
			// socket.emit('scoreSet', data);
			socket.emit('teamIncorrect', data);
		});
		

	});
	</script>

	<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Score System Controller</h1>
				<button id="splashScreen" class="btn btn-primary">Splash Screen</button>
			</div>
		</div>
		<hr width="100%">
		<div class="row">
			<div class="col-lg-3">
				<h3>Score Overview</h3>
				<button id="scoreOverview" class="btn btn-primary">
					Score Overview
				</button>
					<br><br>
				<form id="addScore">
					<label for="team">Select Team</label>
					<select name="team" id="team">
						<!-- nanti di isi pas setup system ;) -->
					</select>
					<!-- correct -->
					<button class="btn btn-primary" id="changeScoreCorrect">Correct</button>

					<!-- incorrect -->
					<button class="btn btn-primary" id="changeScoreIncorrect">Incorrect</button>
				</form>
			</div>
			<div class="col-lg-3">
				<h3>Question Control</h3>
				<br>
				<table class="table table-bordered">
					<thead>
						<tr>
							<td>No</td>
							<td>Question</td>
                            <td>Action</td>
						</tr>
					</thead>
					<tbody id="bodyQuestion">
						<% questions.forEach(function(question){ %>
							<tr>
								<td><%= question.id+1 %></td>
								<td><%= question.question %></td>
                                <td><button id="<%= question.id %>" value="<%= question.id %>" class="questionShow btn btn-primary">Show</button></td>
							</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</body>
</html>